{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav_white.css' %}?{% now "U" %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/board.css' %}?{% now "U" %}">
    <link href="https://fonts.cdnfonts.com/css/quicksilver" rel="stylesheet">
    <title>board</title>
</head>
<body>
    <nav id="nav">
        <div class="logo">
            <img src="{% static 'img/blackLogo.svg' %}" alt="">
            <a href="/">MYLOG</a>
        </div>
        
        <div class="navBtn">
            <ul>
                <li><a href="{% url 'board-topic' topic='일상' %}">일상</a></li>
                <li><a href="{% url 'board-topic' topic='요리' %}">요리</a></li>
                <li><a href="{% url 'board-topic' topic='여행' %}">여행</a></li>
                <li><a href="{% url 'board-topic' topic='영화' %}">영화</a></li>
                <li><a href="{% url 'board-topic' topic='IT' %}">IT</a></li>
                <li class="logoutBtn"><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
            <a href="{% url 'write' %}"><button>Just Write!</button></a>
        </div>
    </nav>
    <div class="board">
        <div class="totalRectangle">
            <div class="top">
                <div class="mainRectangle">
                    <div class="rectTop">
                        <div id="dateCreate">
                            {{ main_post.create_at }}
                        </div>
                        <div id="rectTitle">
                            {{ main_post.title }}
                        </div>
                        <div id="rectUser">
                            by 사용자(예시) {{ main_post.author_id }}
                        </div>
                        <div id="rectTopic">
                            {{ main_post.topic }}
                            
                        </div>
                    </div>
                    <div class="rectMain">
                        
                        {{ main_post.content|safe }}
                    </div>
                </div>
                <div class="subRectangle">
                    <div class="subRectTitle">Other posts<br>you may like</div>
                    {% for recommended_post in recommended_posts %}
                    <div class="subRectReccomend">
                        <div id="reccomendPic">
                            
                        </div>
                        <div id="reccomendTitle">
                            {{ recommended_post.title }}
                        </div>
                    </div>
                    <div class="subRectReccomend">
                        <div id="reccomendPic">
                            <img src="" alt="">
                        </div>
                        <div id="reccomendTitle">
                            {{ recommended_post.title }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="bottom">
                <div class="rectangleEdit">
                    <div class="rectEditLeft">
                        <div id="rectAmend">수정하기</div>
                        <div id="rectDelete">삭제하기</div>
                    </div>
                    <div id="rectShare">공유하기</div>
                </div>
                <div class="previousPost">
                    <div class="previous">이전글</div>
                    <div class="postDetail">
                        <div id="prePostTitle"></div>
                        <div id="prePostDate"></div>
                    </div>
                </div>
                <div class="nextPost">
                    <div class="next">다음글</div>
                    <div class="postDetail">
                        <div id="nextPostTitle"></div>
                        <div id="nextPostDate"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p>Made with <span>Django</span></p>
    </footer>
</body>
</html>