{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav_white.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/board.css' %}">
    <link href="https://fonts.cdnfonts.com/css/quicksilver" rel="stylesheet">
    <title>board</title>
</head>
<body>
    <nav id="nav">
        <div class="logo">
            <img src="{% static 'img/blackLogo.svg' %}" alt="">
            <a href="#">MYLOG</a>
        </div>
        
        <div class="navBtn">
            <ul>
                <li><a href="">일상</a></li>
                <li><a href="">요리</a></li>
                <li><a href="">여행</a></li>
                <li><a href="">영화</a></li>
                <li><a href="">IT</a></li>
                <li class="logoutBtn"><a href="{% url 'board-client' %}">Logout</a></li>
            </ul>
            <button><a href="{% url 'write' %}">Just Write!</a></button>
        </div>
    </nav>
    <div class="board">
        <div class="totalRectangle">
            <div class="top">
                <div class="mainRectangle">
                    <div class="rectTop">
                        <div id="dateCreate">
                            {{ post.create_date }}
                        </div>
                        <div id="rectTitle">
                            {{ post.title }}
                        </div>
                        <div id="rectUser">
                            {{ post.author }}
                        </div>
                        <div id="rectTag">
                            {{ post.tag }}
                        </div>
                    </div>
                    <div class="rectMain">
                        {{ post.content }}
                    </div>
                </div>
                <div class="subRectangle">
                    <div class="subRectTitle"></div>
                    <div class="subRectReccomend">
                        <div id="reccomendPic">
                            
                        </div>
                        <div id="reccomendTitle">
                            {{ post.title }}
                        </div>
                    </div>
                    <div class="subRectReccomend">
                        <div id="reccomendPic">

                        </div>
                        <div id="reccomendTitle">
                            {{ post.title }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <div class="rectangleEdit">
                    <div class="rectEditLeft">
                        <div id="rectAmend"></div>
                        <div id="rectDelete"></div>
                    </div>
                    <div class="rectShare"></div>
                </div>
                <div class="previousPost">
                    <div class="previous">이전글</div>
                    <div class="postDetail">
                        <div id="prePostTitle"></div>
                        <div id="prePostDate"></div>
                    </div>
                </div>
                <div class="nextPost">
                    <div class="next">다음글</div>
                    <div class="postDetail">
                        <div id="nextPostTitle"></div>
                        <div id="nextPostDate"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p>Made with <span>Django</span></p>
    </footer>
</body>
</html>