<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav id="nav">
        <a hef="">mylog로고이미지</a>
        <ul>
            <li><a href="">일상</a></li>
            <li><a href="">요리</a></li>
            <li><a href="">여행</a></li>
            <li><a href="">영화</a></li>
            <li><a href="">IT</a></li>
        </ul>

        <button>Just Write!</button>
    </nav>
</body>
</html>