{% load static %}
<nav id="nav">
    <div class="logo">
        <img src="{% static 'img/blackLogo.svg' %}" alt="">
        <a href="/">MYLOG</a>
    </div>

    <div class="navBtn">
        <ul>
            <li><a href="{% url 'board-topic' topic='일상' %}">일상</a></li>
            <li><a href="{% url 'board-topic' topic='요리' %}">요리</a></li>
            <li><a href="{% url 'board-topic' topic='여행' %}">여행</a></li>
            <li><a href="{% url 'board-topic' topic='영화' %}">영화</a></li>
            <li><a href="{% url 'board-topic' topic='IT' %}">IT</a></li>
            <li class="logoutBtn"><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
        <a href="{% url 'write' %}"><button>Just Write!</button></a>
    </div>
</nav>