{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>AnimalFarm</title>
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'css/reset.css' %}"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'css/test_style.css' %}"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'css/nav.css' %}"
        />
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"/>
        <link rel="stylesheet" type="text/css" href="https://fonts.cdnfonts.com/css/quicksilver"/>
    </head>
    <body>
        {% include 'nav.html' %}
        <div id="coverList" class="coverList">
            <div class="cover">
                <div class="container">
                    <a href="{% url 'board_id' main.id %}" class="post-info-box-link">
                        <div class="coverBox">
                            <h3>{{ main.title|title }}</h3>
                            <p>{{ main.content|safe|truncatewords_html:50 }}</p>
                            <button>READ MORE</button>
                        </div>
                    </a>
                    <div class="coverImg">
                        {% if not main.content_poster %}
                        <img src="{{ Animal|random }}">
                        {% else %}
                        <img src="{{ main.content_poster.url }}" alt="">
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="feeds">
                <div class="container">
                    {% for post in posts %}
                    <div class="feed">
                        <div class="feedImg">
                            <a href="{% url 'board_id' post.id %}">
                                {% if not post.content_poster %}
                                <img src="{{ Animal|random }}">
                                {% else %}
                                <img src="{{ post.content_poster.url }}" alt="">
                                {% endif %}
                            </a>
                        </div>
                        <a href="{% url 'board_id' post.id %}" class="post-info-box-link">
                            <div class="feedInner">
                                <p>{{ post.create_at|date:"Y-m-d" }} {{ post.create_at|time:"H:i" }}</p>

                                <h3>{{ post.title|title }}</h3>
                                <p>{{ post.content|safe|truncatewords_html:20 }}</p>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <footer>
            <p>Made with <span>Django</span></p>
        </footer>
    </body>
</html>
