{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/write.css' %}?{% now "U" %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav_white.css' %}?{% now "U" %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
    <link href="https://fonts.cdnfonts.com/css/quicksilver" rel="stylesheet">
    <title>Write</title>
</head>
<body>
    <nav id="nav">
        <div class="logo">
            <img class="logo_img"/>
            <a href="/">MYLOG</a>
        </div>
        <div class="navBtn">
            <ul>
                <li><a href="{% url 'post-topic' topic='일상' %}">일상</a></li>
                <li><a href="{% url 'post-topic' topic='요리' %}">요리</a></li>
                <li><a href="{% url 'post-topic' topic='여행' %}">여행</a></li>
                <li><a href="{% url 'post-topic' topic='영화' %}">영화</a></li>
                <li><a href="{% url 'post-topic' topic='IT' %}">IT</a></li>
            {% if user.is_authenticated %}
                <li class="logoutBtn"><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
            <a href="{% url 'write' %}"><button>Just Write!</button></a>
            {% else %}
                </ul>
                <a href="{% url 'login' %}"><button>Login</button></a>
            {% endif %}
        </div>
    </nav>
    <!-- Content -->
    <section class="content">
        <form action="" method="POST" class="writeContent" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <div id="contentTitle" name="contentTitle">
                    {{ form.title }}
                </div>
                {{ form.content|safe }}
            </div>
            <div class="rightPanel">
                <button class="aiCompletion">
                    <img id="ai-img" src="{% static 'img/ai.svg' %}" alt="AI 아이콘" />
                    <div id="loading-animation" style="display: none;">
                      <img src="{% static 'img/loading.gif' %}" alt="로딩 중" />
                    </div>  
                    AI 자동 완성</button>
                <div class="topics">
                    <div class="topicsTitle">{{ form.topic.label }}</div>
                    {% for topic_choice in form.topic_choices %}
                        <div>
                            <input type="radio" id="topic_{{ topic_choice.0 }}" name="topic" value="{{ topic_choice.0 }}">
                            <label for="topic_{{ topic_choice.0 }}">{{ topic_choice.1 }}</label>
                        </div>
                    {% endfor %}
                </div>
                <div class="status">
                    <div class="statusTitle">UPLOAD INFO</div>
                    {% if drafts %}
                    공개여부 : 비공개
                    {% else %}
                    공개여부 : 공개
                    {% endif %}
                    <label for="imageUpload" class="imageUpload" >표지 업로드</label>
                    <input type="file" class="imageUpload" name="content_poster">
                    <div class="statusBtn">
                        <input type="submit" value="임시저장" id="temporary" name="temporary">
                        <input type="submit" value="글 작성" class="storageBtn" id="postBtn">
                    </div>
                </div>
                {% if drafts %}
                <div class="temporaryList">
                    <div id="temporaryTitle">임시 저장 글 목록</div>
                    <ul id="temporaryItem">
                    {% for draft in drafts %}
                    <li>
                        <a href="{% url 'edit' draft.id %}" class="loadDraft" data-draft-id="{{ draft.id }}">{{ forloop.counter }}.{{ draft.title }}    🦝수정하기 </a>
                    </li>
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
        </form>
        
    </section>
    <footer>
        <p>Made with <span>Django</span></p>
    </footer>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/write.js' %}"></script>
</html>