{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/write.css' %}?{% now "U" %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav_white.css' %}?{% now "U" %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
    <link href="https://fonts.cdnfonts.com/css/quicksilver" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <nav id="nav">
        <div class="logo">
            <img src="{% static 'img/blackLogo.svg' %}" alt="">
            <a href="/">MYLOG</a>
        </div>
        
        <div class="navBtn">
            <ul>
                <li><a href="{% url 'board-topic' topic='일상' %}">일상</a></li>
                <li><a href="{% url 'board-topic' topic='요리' %}">요리</a></li>
                <li><a href="{% url 'board-topic' topic='여행' %}">여행</a></li>
                <li><a href="{% url 'board-topic' topic='영화' %}">영화</a></li>
                <li><a href="{% url 'board-topic' topic='IT' %}">IT</a></li>
                <li class="logoutBtn"><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
            <a href="{% url 'write' %}"><button>Just Write!</button></a>
        </div>
    </nav>

    <!-- Content -->
    <section class="content">
        <form action="" method="POST" class="writeContent">
            {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>
            <div class="rightPanel">
                <div class="aiCompletion">👩‍🔬 AI 자동 완성</div>
                <div class="topics">
                    <div class="topicsTitle">TOPIC</div>
                        <div>
                            <input type="radio" id="dailyLife" name="topic" value="dailyLife">
                            <label for="dailyLife">일상</label>
                        </div>
                        <div>
                            <input type="radio" id="cooking" name="topic" value="cooking">
                            <label for="cooking">요리</label>
                        </div>
                        <div>
                            <input type="radio" id="travel" name="topic" value="travel">
                            <label for="travel">여행</label>
                        </div>
                        <div>
                            <input type="radio" id="movies" name="topic" value="movies">
                            <label for="movies">영화</label>
                        </div>
                        <div>
                            <input type="radio" id="it" name="topic" value="it">
                            <label for="it">IT / 전자기기</label>
                        </div>
                </div>
                <div class="status">
                    <div class="statusTitle">UPLOAD INFO</div>
                    상태: 미발행
                    <label for="imageUpload" class="imageUpload">이미지 업로드</label>
                    <input type="file" class="imageUpload" style="display: none;">
                    <div class="statusBtn">
                        <button class="storageBtn" id="temporary">임시저장</button>
                        <input type="submit" value="글 작성" class="storageBtn" id="postBtn">
                    </div>
                </div>
            </div>
        </form>
    </section>
    
    <!-- Footer -->
    {% comment %} <footer class="main-footer">
        Made with <a href="https://www.djangoproject.com/">Django</a>
    </footer> {% endcomment %}
    <footer>
        <p>Made with <span>Django</span></p>
    </footer>
</body>
</html>