/* 9.12 write css 적용, 패딩값 추가  */
.content {
    padding-top: 120px;
    display: flex;
    justify-content: space-around;
    background-color: #F9F8F4;
    font-family: Pretendard;
}

form {
    display: flex;
}

.rightPanel {
    display: grid;
}

.rightPanel img {
    vertical-align: middle;
}

.aiCompletion,
.topics,
.status,
.temporaryList {
    border: solid 2px #CAC8C5;
    margin: 8px;
    padding: 15px;
}

.aiCompletion {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 30px 0;
    margin-top: 0;
    cursor: pointer;
}

.topics,
.status {
    display: flex;
    flex-direction: column;
}

.topics {
    gap: 5px;
}

.status {
    gap: 10px;
}

.topicsTitle,
.statusTitle,
#temporaryTitle {
    font-size: 18px;
    font-weight: bold;
}

.storageBtn,
#temporary {
    margin-top: 15px;
    padding: 2px 30px;
    border: solid 1px black;
    border-radius: 3px;
    cursor: pointer;
    width: 45%;
}

#temporary {
    background-color: #F9F8F4;
    padding: 4px 17px;
}

#postBtn {
    background-color: black;
    color: white;
    padding: 4px 17px;
}

/* 9.16 임시저장 목록 신지수 */
.temporaryList {
    border: solid 2px #CAC8C5;

}

#temporaryTitle {
    padding-bottom: 10px;
}

#temporaryItem {
    max-height: 70%;
    overflow-y: scroll;
    gap: 5px;
}

#temporaryItem::-webkit-scrollbar {
    width: 10px;
}

#temporaryItem::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

.loadDraft {
    text-decoration: none;
    color: black;
    margin: 10px;
}

#loading-animation img {
    width: 24px;
    height: 24px;
}

.statusBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#id_title::placeholder {
    padding: 10px;
}